.profiles {
    background: var(--bg-color);
    width: 100vw;
    height: 100vh;
}

.page {
    padding-top: 4vh;
}

.page > div {
    margin-bottom: 3vh;
}

.page:last-child {
    margin-bottom: 0;
}



/* Loader */

.loader {
    margin: 0 auto;
    margin-top: 10vh;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: spin 3s infinite linear;
}

.red {
    background: #f65314; 
    width: 30px; 
    height: 30px;
    border-radius: 50%;
}
.yellow {
    background: #ffbb00; 
    width: 30px; 
    height: 30px;
    border-radius: 50%;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
        width: 100px;
    }
    50% {
        transform: rotate(360deg);
        width: 68px;
    }
    
    100% {
        transform: rotate(720deg);
        width: 100px;
    }
}
