* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --bg-color: snow;
  --color-white: #fff;
  --color-dark: #222;
  --color-light: #444;
  --color-primary: teal;
  --shadow: rgba(0, 0, 0, .26);
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

